[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/latex-suite"]
	path = vim/bundle/latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "vim/bundle/orgmode"]
	path = vim/bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/switch"]
	path = vim/bundle/switch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/utl"]
	path = vim/bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
